<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XYPhoto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1068AD71D3F2DC1008A90F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1068AEB1D3F2DC1008A90F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1068AF61D3F2DC1008A90F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
